.game-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.outer-dock {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-dock {
    height: 35rem;
    width: 25rem;
    padding: 20px;
    background-color: #d6cc9f;
    border-radius: 15px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: aqua;
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;

}

.row img {
    position: absolute;
    display: none;
}

.row img.aktiv {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.choice {
    color: red;
    height: 100px;
    width: 100px;
    cursor: pointer;

}

.choice img {
    display: none;
}
.restart{
    position: absolute;
    bottom: 5px;
    left: 100%;
    margin-left: 5px;
}

.restart button {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    font-size: 2rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart button:hover {
    background-color: #afa5a5;
    transform: scale(1.05);
}