.outer-dock {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-dock {
    height: 35rem;
    width: 25rem;
    padding: 20px;
    background-color: #d6cc9f;
    border-radius: 15px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: aqua;
    border-radius: 15px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;

}

.row img {
    position: absolute;
    display: none;
}

.row img.aktiv {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

.choice {
    color: red;
    height: 100px;
    width: 100px;
    cursor: pointer;

}

.choice img {
    display: none;
}